<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qk.mapper.DeptMapper">
    <update id="update">
        update dept
        <set>
            <if test="name!=null and name.length()>0">
                name = #{name},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            <if test="createTime!=null">
                create_time=#{createTime},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="selectByNameAndStatus" resultType="com.qk.entity.Dept">
        select  id,name,status,create_time,update_time from dept
        <where>
            <if test="name!=null and name.length()>0">
                and name like concat('%',#{name},'%')
            </if>
        <if test="status!=null">
            and status=#{status}
        </if>
        </where>
        order by update_time desc
    </select>
</mapper>